<section id="footer">
    <div class="container-fluid bg-info mt-5 h-100%">
        <div class="row justify-content-center">
            <div class="col-lg-3 mt-5">
                <h5 class="text-center text-light">About me</h5>
                <p class="text-center">Websites developments is easy to create and build just takes one to practise</p>
            </div>
            <div class="col-lg-3 mt-5">
                <h5 class="text-light">links</h5>
                <ul class="align-center">
                   <a href="#"><li class="text-dark">HOME</li></a>
                   <a href="#"><li class="text-dark">CONTACTS</li></a>
                   <a href="#"><li class="text-dark">BLOG</li></a>
                </ul>
            </div>
            <div class="col-lg-3 mt-5">
                <h5 class="text-light">office</h5>
             <p>KWETU HUB TECH</p>
             <p>juja road</p>
             <p>Kiambu,Kenya</p>
             <p class="email-id">kamangacaptainirungu0625@gmail.com</p>
            </div>
            <div class="col-lg-3 mt-5">
                <h5 class="text-light">social-icons</h5>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-whatsapp"></i>
                    <i class="fa fa-instagram"></i>
            </div>

        </div>
    </div>
</section>